extends layout

block content
  if posts
    each post, i in posts
      .post
        h1
          a(href='/post/show/#{post._id}')
            =post.title
        p.meta Posted in 
          a(href='/categories/show/#{post.category}') #{post.category} 
          by #{post.author} on #{moment(post.date).format('DD-MM-YYYY')}
        img(class='image' src="/#{post.mainimage}")
        !=truncateText(post.body, 400)
        a.more(href='/post/show/#{post._id}') Read More